<div class="container">
  <div class="heder">
  <img src={{valuta.coin.slika}} alt="">
  <span class="name">{{valuta.coin.ime}}</span>
  <img src="./assets/images/back.png" alt="" class="back" (click)="back()">
  </div>
  <div class="wrapper">
    <button class="plusminus" (click)="handleMinus()">-</button>
    <input type="number" class="num" value={{value}}  [(ngModel)]="value"/>
    <span>USD</span>
    <button class="plusminus"  (click)="handlePlus()">+</button>
  </div>
  <div class="cena">
    <span class="cenaspan">{{value}} USD - {{value/valuta.coin.cena}} {{valuta.coin.ime}}</span>
  </div>
  <button class="buy" (click)="buy()">Buy</button>

</div>