<div class="container">
  <div class="heder">
  <img src={{valuta.coin.slika}} alt="">
  <span class="name">{{valuta.coin.ime}}</span>
  <img src="./assets/images/back.png" alt="" class="back" (click)="back()">
  </div>
  <div class="wrapper">
    <button class="plusminus" (click)="handleMinus()">-</button>
    <input type="number" class="num" value={{value}} (keyup)="updatevalue()" [(ngModel)]="value"/>
    <span>{{valuta.coin.ime}}</span>
    <button class="plusminus" (click)="handlePlus()">+</button>
  </div>
  <div class="valute">
    <select (change)="select($event)" >
      <option value={{i}}  *ngFor="let val of valute;let i = index ">{{val.ime}}</option>
    </select>
  </div>
  <div class="cena">
    <span class="cenaspan">{{value}} {{valuta.coin.ime}} - {{value*valuta.coin.cena/selected.cena}} {{selected.ime}}</span>
  </div>
  <button class="buy" (click)="buy()">Convert</button>

</div>